openapi: 3.0.3
info:
  title: AMD Developer Cloud Configuration Devices API
  description: The AMD Developer Cloud API provides access to AMD Instinct GPU instances for AI inference, training, and HPC workloads. Supports managing compute instances, deploying AI models, monitoring GPU utilization, and integrating with ROCm-compatible frameworks including PyTorch, TensorFlow, and vLLM.
  version: '1'
  contact:
    name: AMD Developer Support
    url: https://developer.amd.com/support/
  termsOfService: https://www.amd.com/en/legal/terms-and-conditions.html
  license:
    name: AMD Terms and Conditions
    url: https://www.amd.com/en/legal/terms-and-conditions.html
servers:
- url: https://api.developer.amd.com/v1
  description: AMD Developer Cloud API Production
security:
- apiKey: []
tags:
- name: Devices
  description: GPU device enumeration and information
paths:
  /devices:
    get:
      operationId: listDevices
      summary: AMD ROCm List GPU Devices
      description: Enumerate all AMD GPU devices visible to the ROCm runtime on the system.
      tags:
      - Devices
      responses:
        '200':
          description: List of GPU devices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceList'
              examples:
                listDevices200Example:
                  summary: Default listDevices 200 response
                  x-microcks-default: true
                  value:
                    devices:
                    - id: gpu0
                      name: AMD Instinct MI300X
                      model: MI300X
                      vbios: 113-MSIV3C5.0N
                      driverVersion: 6.1.0
                      memoryTotal: 192
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                listDevices401Example:
                  summary: Default listDevices 401 response
                  x-microcks-default: true
                  value:
                    code: UNAUTHORIZED
                    message: Authentication required
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /devices/{deviceId}:
    get:
      operationId: getDevice
      summary: AMD ROCm Get GPU Device Details
      description: Retrieve detailed hardware information for a specific AMD GPU device including model, firmware, memory, and topology.
      tags:
      - Devices
      parameters:
      - name: deviceId
        in: path
        required: true
        description: GPU device identifier (e.g., gpu0, gpu1).
        schema:
          type: string
      responses:
        '200':
          description: GPU device details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
              examples:
                getDevice200Example:
                  summary: Default getDevice 200 response
                  x-microcks-default: true
                  value:
                    id: gpu0
                    name: AMD Instinct MI300X
                    model: MI300X
                    vbios: 113-MSIV3C5.0N
                    driverVersion: 6.1.0
                    memoryTotal: 192
                    pcieBusId: '0000:03:00.0'
                    computeUnits: 304
        '404':
          description: Device not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getDevice404Example:
                  summary: Default getDevice 404 response
                  x-microcks-default: true
                  value:
                    code: NOT_FOUND
                    message: Device not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Device:
      type: object
      description: An AMD GPU device.
      properties:
        id:
          type: string
          description: Device identifier.
          example: gpu0
        name:
          type: string
          description: Device display name.
          example: AMD Instinct MI300X
        model:
          type: string
          description: GPU model name.
          example: MI300X
        vbios:
          type: string
          description: VBIOS version string.
          example: 113-MSIV3C5.0N
        driverVersion:
          type: string
          description: ROCm driver version.
          example: 6.1.0
        memoryTotal:
          type: integer
          description: Total GPU memory in GB.
          example: 192
        pcieBusId:
          type: string
          description: PCIe bus ID.
          example: '0000:03:00.0'
        computeUnits:
          type: integer
          description: Number of compute units.
          example: 304
    DeviceList:
      type: object
      description: List of AMD GPU devices.
      properties:
        devices:
          type: array
          description: Array of GPU devices.
          items:
            $ref: '#/components/schemas/Device'
    ErrorResponse:
      type: object
      description: API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
        message:
          type: string
          description: Error message.
          example: The requested resource was not found.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
