openapi: 3.2.0
info:
  title: AMD ROCm Management Performance API
  description: The AMD ROCm Management API provides runtime monitoring and configuration for AMD GPU hardware running the ROCm software stack. Supports querying GPU device information, monitoring utilization and health, managing ROCm system configuration, and retrieving performance counters for AMD Instinct and Radeon GPUs.
  version: '1'
  contact:
    name: AMD ROCm Support
    url: https://rocm.docs.amd.com
  termsOfService: https://www.amd.com/en/legal/terms-and-conditions.html
  license:
    name: AMD Terms and Conditions
    url: https://www.amd.com/en/legal/terms-and-conditions.html
servers:
- url: https://rocm-mgmt.amd.com/v1
  description: AMD ROCm Management API Production
security:
- bearerAuth: []
tags:
- name: Performance
  description: Performance counters and profiling data
paths:
  /devices/{deviceId}/performance:
    get:
      operationId: getDevicePerformance
      summary: AMD ROCm Get GPU Device Performance Counters
      description: Retrieve GPU utilization, memory bandwidth, compute throughput, and other performance counters for an AMD GPU.
      tags:
      - Performance
      parameters:
      - name: deviceId
        in: path
        required: true
        description: GPU device identifier.
        schema:
          type: string
      responses:
        '200':
          description: GPU performance counters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePerformance'
              examples:
                getDevicePerformance200Example:
                  summary: Default getDevicePerformance 200 response
                  x-microcks-default: true
                  value:
                    deviceId: gpu0
                    gpuUtilization: 92.3
                    memoryUtilization: 78.5
                    memoryBandwidth: 4800.0
                    computeThroughput: 1.83
        '404':
          description: Device not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getDevicePerformance404Example:
                  summary: Default getDevicePerformance 404 response
                  x-microcks-default: true
                  value:
                    code: NOT_FOUND
                    message: Device not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DevicePerformance:
      type: object
      description: Performance counters for an AMD GPU device.
      properties:
        deviceId:
          type: string
          description: Device identifier.
          example: gpu0
        gpuUtilization:
          type: number
          format: float
          description: GPU compute utilization percentage.
          example: 92.3
        memoryUtilization:
          type: number
          format: float
          description: GPU memory utilization percentage.
          example: 78.5
        memoryBandwidth:
          type: number
          format: float
          description: Memory bandwidth utilization in GB/s.
          example: 4800.0
        computeThroughput:
          type: number
          format: float
          description: Compute throughput in PFLOPS.
          example: 1.83
    ErrorResponse:
      type: object
      description: API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
        message:
          type: string
          description: Error message.
          example: The requested resource was not found.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
