openapi: 3.2.0
info:
  title: AMD ROCm Management Configuration API
  description: The AMD ROCm Management API provides runtime monitoring and configuration for AMD GPU hardware running the ROCm software stack. Supports querying GPU device information, monitoring utilization and health, managing ROCm system configuration, and retrieving performance counters for AMD Instinct and Radeon GPUs.
  version: '1'
  contact:
    name: AMD ROCm Support
    url: https://rocm.docs.amd.com
  termsOfService: https://www.amd.com/en/legal/terms-and-conditions.html
  license:
    name: AMD Terms and Conditions
    url: https://www.amd.com/en/legal/terms-and-conditions.html
servers:
- url: https://rocm-mgmt.amd.com/v1
  description: AMD ROCm Management API Production
security:
- bearerAuth: []
tags:
- name: Configuration
  description: ROCm system configuration
paths:
  /system/rocm-version:
    get:
      operationId: getRocmVersion
      summary: AMD ROCm Get ROCm Software Version
      description: Retrieve the installed ROCm platform version, HIP runtime version, and driver information.
      tags:
      - Configuration
      responses:
        '200':
          description: ROCm version information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RocmVersion'
              examples:
                getRocmVersion200Example:
                  summary: Default getRocmVersion 200 response
                  x-microcks-default: true
                  value:
                    rocmVersion: 6.1.0
                    hipVersion: 6.1.40091
                    driverVersion: 6.1.0.60100
                    kernelVersion: 5.15.0-105-generic
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getRocmVersion401Example:
                  summary: Default getRocmVersion 401 response
                  x-microcks-default: true
                  value:
                    code: UNAUTHORIZED
                    message: Authentication required
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      description: API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
        message:
          type: string
          description: Error message.
          example: The requested resource was not found.
    RocmVersion:
      type: object
      description: ROCm platform version information.
      properties:
        rocmVersion:
          type: string
          description: ROCm platform version.
          example: 6.1.0
        hipVersion:
          type: string
          description: HIP runtime version.
          example: 6.1.40091
        driverVersion:
          type: string
          description: AMD GPU driver version.
          example: 6.1.0.60100
        kernelVersion:
          type: string
          description: Linux kernel version.
          example: 5.15.0-105-generic
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
