openapi: 3.0.3
info:
  title: AMD Developer Cloud Configuration API
  description: The AMD Developer Cloud API provides access to AMD Instinct GPU instances for AI inference, training, and HPC workloads. Supports managing compute instances, deploying AI models, monitoring GPU utilization, and integrating with ROCm-compatible frameworks including PyTorch, TensorFlow, and vLLM.
  version: '1'
  contact:
    name: AMD Developer Support
    url: https://developer.amd.com/support/
  termsOfService: https://www.amd.com/en/legal/terms-and-conditions.html
  license:
    name: AMD Terms and Conditions
    url: https://www.amd.com/en/legal/terms-and-conditions.html
servers:
- url: https://api.developer.amd.com/v1
  description: AMD Developer Cloud API Production
security:
- apiKey: []
tags:
- name: Configuration
  description: ROCm system configuration
paths:
  /system/rocm-version:
    get:
      operationId: getRocmVersion
      summary: AMD ROCm Get ROCm Software Version
      description: Retrieve the installed ROCm platform version, HIP runtime version, and driver information.
      tags:
      - Configuration
      responses:
        '200':
          description: ROCm version information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RocmVersion'
              examples:
                getRocmVersion200Example:
                  summary: Default getRocmVersion 200 response
                  x-microcks-default: true
                  value:
                    rocmVersion: 6.1.0
                    hipVersion: 6.1.40091
                    driverVersion: 6.1.0.60100
                    kernelVersion: 5.15.0-105-generic
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getRocmVersion401Example:
                  summary: Default getRocmVersion 401 response
                  x-microcks-default: true
                  value:
                    code: UNAUTHORIZED
                    message: Authentication required
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RocmVersion:
      type: object
      description: ROCm platform version information.
      properties:
        rocmVersion:
          type: string
          description: ROCm platform version.
          example: 6.1.0
        hipVersion:
          type: string
          description: HIP runtime version.
          example: 6.1.40091
        driverVersion:
          type: string
          description: AMD GPU driver version.
          example: 6.1.0.60100
        kernelVersion:
          type: string
          description: Linux kernel version.
          example: 5.15.0-105-generic
    ErrorResponse:
      type: object
      description: API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
        message:
          type: string
          description: Error message.
          example: The requested resource was not found.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
