openapi: 3.2.0
info:
  title: AMD ROCm Management Health API
  description: The AMD ROCm Management API provides runtime monitoring and configuration for AMD GPU hardware running the ROCm software stack. Supports querying GPU device information, monitoring utilization and health, managing ROCm system configuration, and retrieving performance counters for AMD Instinct and Radeon GPUs.
  version: '1'
  contact:
    name: AMD ROCm Support
    url: https://rocm.docs.amd.com
  termsOfService: https://www.amd.com/en/legal/terms-and-conditions.html
  license:
    name: AMD Terms and Conditions
    url: https://www.amd.com/en/legal/terms-and-conditions.html
servers:
- url: https://rocm-mgmt.amd.com/v1
  description: AMD ROCm Management API Production
security:
- bearerAuth: []
tags:
- name: Health
  description: GPU health and diagnostic status
paths:
  /devices/{deviceId}/health:
    get:
      operationId: getDeviceHealth
      summary: AMD ROCm Get GPU Device Health
      description: Retrieve current health status, temperature, fan speed, and error counts for an AMD GPU device.
      tags:
      - Health
      parameters:
      - name: deviceId
        in: path
        required: true
        description: GPU device identifier.
        schema:
          type: string
      responses:
        '200':
          description: GPU health status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceHealth'
              examples:
                getDeviceHealth200Example:
                  summary: Default getDeviceHealth 200 response
                  x-microcks-default: true
                  value:
                    deviceId: gpu0
                    status: healthy
                    temperature: 65
                    fanSpeed: 45
                    powerDraw: 420
                    eccErrors: 0
        '404':
          description: Device not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getDeviceHealth404Example:
                  summary: Default getDeviceHealth 404 response
                  x-microcks-default: true
                  value:
                    code: NOT_FOUND
                    message: Device not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      description: API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
        message:
          type: string
          description: Error message.
          example: The requested resource was not found.
    DeviceHealth:
      type: object
      description: Health status of an AMD GPU device.
      properties:
        deviceId:
          type: string
          description: Device identifier.
          example: gpu0
        status:
          type: string
          description: Overall health status.
          enum:
          - healthy
          - warning
          - critical
          - unknown
          example: healthy
        temperature:
          type: integer
          description: GPU junction temperature in Celsius.
          example: 65
        fanSpeed:
          type: integer
          description: Fan speed percentage.
          example: 45
        powerDraw:
          type: number
          format: float
          description: Current power consumption in watts.
          example: 420.0
        eccErrors:
          type: integer
          description: ECC memory error count.
          example: 0
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
